/* A maioria dos divs é organizado usando flexbox justamente para ser responsivo, vale a pena estudar o assunto
para fazer manutenção nesse CSS  */


/* caractersticas geral da página configura a cor de fundo e a cor da fonte geral*/
body{
    background-color: #151515;
    color:white ;
    
}
/* tamanho do cabeçalho e alinha os itens no eixo y */
header{
    height: 20vh;
    /* background-color: aqua; */
    position: relative;
}
.front{
    display: flex;
    align-items: center;
}
.logo{ 
    overflow: hidden;
}
.cabecalho{
    height:18vh;
    width: calc(100% - 18vh);
   
    /* background-color: purple; */
    
    top: 1vh;
    right:5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box{
    height: calc((18vh - 13vh));
    width: calc((100% - 18vw)/5);
    background-color: pink;
}
.estante{
    width: 100%;
    height: auto;
    position: absolute;
    top:-9vh;
    z-index: -2;;
}
.intro{
    height: 80vh;
    
    display: flex;  
    justify-content: space-around;
    align-items: center;
}
video{
    object-fit: fill;
    
    width: 50vw;
    background-color: red;
}
.intro-txt{
    width: 30vw;
    height:50vh;
    font-size: 2em;
    overflow: hidden;
}
.team{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    height: 45vw;
}
.team-pic{
    height: 40vw;
    width: 80vw;
   
}

.madeira{
    width: 100%;
    height: 10vh;
    background:url('../midia/images/Madeira.svg') ;
}
.cortiça-bord{
    
    background-image: url('../midia/images/Board_de_Madeira.svg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2vw;

}

.post-it{
    height:40vh;
    width:40vh;
    background: url('../midia/images/Post_It.svg');
    box-shadow: 10px 10px 5px black;
    background-color:#ECDF64;
    
}



.treco_de_cortar{
    height:1800px;
    width:100%;
    background: url('../midia/images/Mesa_de_Corte.svg');
    background-repeat: no-repeat; 
    background-size: cover;    
}

.polaroids{
    
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2vw;

}
.polaroid{
    height:40vh;
    width:40vh;
    background-color: white;
    background: url('../midia/images/Polaroids.svg');
    background-repeat: no-repeat; 
    background-size: cover;    
}
    



.miranha{
    height:400px;
    width:400px;
    background: url('../midia/images/Miranha.svg');
    background-repeat: no-repeat; 
    background-size: cover;   
    position:absolute;
    bottom: -20vh;
    right:0;
}

footer{

    height: auto;
    background: url('../midia/images/Papel_Rasgado.svg');
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content:space-around ;
    flex-direction: column;
    color: black;
    padding: 20vh;
    padding-bottom: 0vh;
}
.elements{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    width: 90%;
   
    /* background-color: blueviolet; */
    flex-wrap: wrap;

}

.logo_cross{
    height:300px;
    width: 300px;
    background: url('../midia/images/Marca_Cross.svg');
    background-repeat: no-repeat; 
    background-size: cover; 
}

.social{
    height: 100px;
    width: 358px;
    background: url('../midia/images/Redes_Sociais.svg');
    background-repeat: no-repeat; 
    background-size: cover; 

}
.nav_itens{
    height: 300px;
    width: 200px;
    /* background-color: green; */
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    
}

.copyright{
    align-items: center;
    
}
 ol{
    list-style-type: none;
    padding: 0;
    line-height:200%
}